.page[data-v-2dac8de0]{margin-top:var(--van-nav-bar-height);padding:5.12821vw 4.10256vw}.page .content[data-v-2dac8de0]{font-size:3.58974vw;line-height:8.20513vw;word-break:break-all;color:#000000e0}
